<center><h1>{{ustoz.ism}} {{ustoz.familya}} ma'lumotlari</h1></center>
<hr>
<p>Ism:{{ustoz.ism}}</p>
<p>Familya:{{ustoz.familya}}</p>
<p>Yosh :{{ustoz.yosh}}</p>
<p>Telefon raqm:{{ustoz.telefon_raqam}}</p>
<p>Jinsi:{{ustoz.jinsi}}</p>
<p>Mutaxasislik darajasi:{{ustoz.mutaxasisligi}}</p>
<p>Mutaxasislik fani:{{ustoz.mutaxasislik_fani}}</p>
<p>Qaysi kafedrada ishlaydi:{{ustoz.kafedra_fk}}</p>
<br><br>
<a href="/"><button>Bosh sahifa</button></a>
<a href="/ustozlar"><button>Ustozlar ro`xati</button></a>